@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kameron:wght@400..700&family=Krona+One&family=M+PLUS+Rounded+1c&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);
}

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
}

.container {
    display: flex;
}

.modelx-img {
    background-color: #1A1A1A;
    width: 1250px;
    padding: 8px;
}

.modelx-img img {
    width: 1000px;
    margin-top: 2rem;
    margin-left: 1rem;
}

.modelx-details {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.375);
    width: 500px;
    height: 700px;
    margin: 0 auto;
    padding: 1rem;
    overflow-y: scroll;
    margin-left: 66rem;
} 

.modelx-details-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modelx-details img {
    width: 140px;
}

.modelx-details a {
    background-color: blue;
    padding: 5px;
    width: 80px;
    text-align: center;
    border: none;
    border-radius: 3px;
    color: white;
}

.modelx-details h2 {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 40px;
    color: black;
}

.car-details {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 300px;
    margin-top: 25px;
}

#details p {
    color: black;
}

.more-info {
    display: flex;
    flex-direction: column;
    height: 350px;
}

.more-info h3 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
}

.more-info p {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

#info-color {
    height: 4rem;
    padding: 15px;
    text-transform: uppercase;
    font-size: 25px;
}

.colors {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 1rem auto;
}

/* 4 cores externas do Model X */
#colorblack {background-color: #000000; width: 40px; height: 40px; border-radius: 50%; cursor: pointer;}
#colorblue {background-color: #4B6685; width: 40px; height: 40px; border-radius: 50%; cursor: pointer;}
#colorred {background-color: #B10000; width: 40px; height: 40px; border-radius: 50%; cursor: pointer;}
#colorsilver {background-color: #C0C0C0; width: 40px; height: 40px; border-radius: 50%; cursor: pointer;}

.inner-design {
    height: 1200px;
}

.inner-color {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 0 auto;
    width: 145px;
    margin-top: 40px;
    margin-bottom: 2rem;
}

/* cores internas */
#color-inner1 {width: 50px; height: 50px; background-color: #161414; border-radius: 3px; cursor: pointer;}
#color-inner2 {width: 50px; height: 50px; background-color: #DEDEDE; border-radius: 3px; cursor: pointer;}

/* imagens internas do Model X */
#innerimg1, #innerimg2 {
    width: 1000px;
    margin-top: 5rem;
}

.price {
    height: 500px;
    display: flex;
    flex-direction: column;
}

.price h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.price h4 {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 2px;
    color: blue;
}

.price h5 {
    text-align: start;
    margin-left: 2rem;
    margin-top: 10px;
    color: rgb(61, 61, 61);
}

.price button {
    background-color: black;
    color: white;
    border: none;
    margin: 3rem auto;
    padding: 10px;
    width: 200px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
}

#color-selected {
    height: 15px;
}

#inner-selected {
    height: 15px;
}

#value {
    height: 40px;
    padding: 5px;
    font-size: 23px;
    margin-top: 30px;
    width: 235px;
}


/* ===== RESPONSIVO ===== */
@media screen and (max-width: 760px) {

    body {
        background-color: white;
        overflow-x: hidden;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 2rem;
        background-color: white;
        width: 500px;
    }

    .modelx-img img {
        width: 140%;
        max-width: 550px;
        margin-left: -3rem;
        position: fixed;
        background-color: rgb(0, 0, 0);
        z-index: 1000;
        transform: translateY(-40px);
    }

    .modelx-details {
        position: relative; /* no mobile deixa de ser fixo */
        width: 400px;
        margin: 2rem auto;
        border-left: none;
        height: auto; /* ajusta automaticamente */
        overflow-y: visible;
        background-color: #fff;
        transform: translateY(230px);
    }

    /* imagens internas maiores para mobile */
    #innerimg1,
    #innerimg2 {
        max-width: 100%; /* ocupa quase toda a largura disponível */
        width: auto;
        margin-top: 2rem;
        margin-left: -9px;
        display: block;
    }
}

